//paleta de cores
$background-color: #ede4e0;
$main-text-color: #441a21;
$details-text-color: #eb9053;
$details-color: #f4e6cc;
$button-color: #fead96;

@mixin text-config() {
  line-height: normal;
  padding: 2rem;
}

/*header css*/
.header {
  &__title {
    color: $main-text-color;
    @include text-config();
    font-size: 2em;
    margin-bottom: 2rem;
    margin-left: 10rem;
    // overflow: hidden;
    // height: 8vh;
    // border-right: 0.1em solid $details-color;
    // letter-spacing: 0.3em;

    // animation: typing 1.5s steps(60, end), blink-caret 0.3s step-end infinite;

    // @keyframes typing {
    //   from {
    //     width: 0;
    //   }
    //   to {
    //     width: 100%;
    //   }
    // }

    // @keyframes blink-caret {
    //   from,
    //   to {
    //     border-color: transparent;
    //   }
    //   100% {
    //     border-color: $details-color;
    //   }
    // }

    @media (max-width: 860px) {
      font-size: 0.9em;
    }
  }

  .mx-15 {
    margin-left: -150rem;
    color: $details-text-color;

    li {
      font-size: 20px;

      &:hover {
        color: $main-text-color;
      }
    }
  }
  /*text*/
  &__text {
    text-indent: 1em;
    line-height: normal;
    line-break: loose;
    vertical-align: middle;
    margin-bottom: 2rem;
    margin-left: 2rem;
    text-align: justify;
    @media (max-width: 860px) {
      margin-left: 0;
      margin-bottom: 2rem;
      font-size: 18px;
    }
  }

  /*typing animation*/
  &__animation {
    color: $details-text-color;
    @include text-config();
  }

  /*image*/
  &__image {
    width: 15rem;
    margin-left: 30rem;
    border-radius: 30rem;
    @media (max-width: 860px) {
      margin-left: 5rem;
      margin-bottom: 2rem;
    }
  }
}
