/*tailwind*/
@tailwind base;
@tailwind components;
@tailwind utilities;

//paleta de cores
$background-color: #ede4e0;
$main-text-color: #441a21;
$details-text-color: #eb9053;
$details-color: #f4e6cc;
$button-color: #fead96;

body {
  background-color: $background-color;
  font-family: "Baloo Chettan 2", cursive;
  font-size: 1.3em;
  color: $main-text-color;

  /*scrollbar*/
  ::-webkit-scrollbar {
    width: 2em;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $background-color;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: $details-text-color;
    border-radius: 10px;
  }
}

/*text*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mochiy Pop P One", sans-serif;
}

p {
  font-family: "Baloo Chettan 2", cursive;
}
