/*tailwind*/
@tailwind base;
@tailwind components;
@tailwind utilities;

//paleta de cores
$background-color: #ede4e0;
$main-text-color: #441a21;
$details-text-color: #f54746;
$details-color: #f4e6cc;
$button-color: #fead96;
